.Sudoku {
    overflow: hidden;
    position: relative;
}

.Sudoku .box span {
    color: #999;
    display: block;
    float: left;
    border: 1px solid #555;
    width: 31%;
    text-align: center;
    background: #adff2f;
}

.Sudoku .box span.editable {
    color: #000;
    background: #31BBF3;
}
/*background: #adff2f;*/
.Sudoku .box span.correct {
    background: #31BBF3;
    animation: goright 5s;
    -webkit-animation: goright 5s; /* Safari and Chrome */
}

    @keyframes goright
    {
    50% {background:#adff2f;}
    }

    @-webkit-keyframes goright /* Safari and Chrome */
    {
    50% {background:#adff2f;}
    }


.Sudoku .box span.wrong {
    background: #31BBF3;
    animation: gowrong 5s;
    -webkit-animation: gowrong 5s; /* Safari and Chrome */
}

    @keyframes gowrong
    {
    50% {background:#db7093;}
    }

    @-webkit-keyframes gowrong /* Safari and Chrome */
    {
    50% {background:#db7093;}
    }

.Sudoku .box span.solved {
    color: green;
}

.Sudoku .box span.active {
    background: #da70d6;
}

.Sudoku .box {
    width: 30%;
    float: left;
    padding: 0 0 8px 0;
    margin: 0;
    height: 100%;
}

.Sudoku .box:nth-child(4),
.Sudoku .box:nth-child(7) {
    clear: both;
}

.Sudoku .navigator {
    float: left;
    width: 100%;
    padding: 30px 0 0 0;
    margin: 0 auto;
}

.Sudoku .navigator .zoom {

}

.Sudoku .navigator a {
    background: #EAC700;
    color: #555;
    width: 6%;
    display: inline-block;
    text-align: center;
    margin: 0 1%;
    border: 1px solid black;
    height: 25px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0 0 0;
    color: #333;
}

.Sudoku .zoom {
    top: 0%;
    left: 0%;
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.Sudoku .zoombox {
    width: 33%;
    border-top: 1px solid white;
    height: 33%;
    float: left;
    border-left: 1px solid white;
}

.Sudoku span .zoombox {
    width: 30%;
    height: 30%;
}

.Sudoku span .zoombox.selected {
    background: #F1C903;
}

.Sudoku .zoombox.selected {
    background: red;
}

.Sudoku .zb_0_0,
.Sudoku .zb_0_1,
.Sudoku .zb_0_2 {
    border-top: none;
}

.Sudoku .zb_0_0,
.Sudoku .zb_1_0,
.Sudoku .zb_2_0 {
    border-left: none;
}